{% extends "base.html" %}
{% block title %}Change you password{% endblock %}
{% block content %}
<div class="content">
    {% if form.errors %}
        <p class="p1">password = can’t be too similar to your other personal information
                               + can’t be a commonly used password
                               + can’t be entirely numeric
                               + must contain at least 8 characters
        </p>
    {% else %}
        <p class="p1">shhh!</p><br>
    {% endif %}
    <form  class="form" action="." method="post">
        <a class="form">{{ form.old_password.label_tag }} {{ form.old_password }}</a><br><br>
        <a class="form">{{ form.new_password1.label_tag }} {{ form.new_password1 }}</a><br>
        <a class="form">{{ form.new_password2.label_tag }} {{ form.new_password2 }}</a><br>
        <input class="input" type="submit" value="change">
        {% csrf_token %}
    </form>
</div>
{% endblock %}